# -------------------- Repo Variables --------------------
BACKEND_PORT=
DB_HOST=
DB_PORT=
DB_PASSWORD=
DB_USERNAME=
DB_NAME=


# -------------------- Docker Variables --------------------

# warehouse_backend
BACKEND_PORT=
REPO_PATH=
PORT=
DEBUG_PORT=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5433
POSTGRES_DATA_PATH=
INIT_DUMP_FILE_PATH=  


# pgAdmin
PGADMIN_PORT=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=